<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.clients() %>">clients</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New client</a></li>
</ul>

<div class="page-header">
    <h1>New client</h1>
</div>

<% var form = formFor(client, {action: pathTo.clients(), method: 'POST', id: "client-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create client', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.clients(), {class: 'btn'}) %>
</div>
<%- form.end() %>
